@using Edukate
@using Kentico.Content.Web.Mvc
@using Kentico.Content.Web.Mvc.PageBuilder
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@addTagHelper *, Kentico.Content.Web.Mvc
@inject IContentRetriever contentRetriever


@{
    Layout = "_Layout";
 
    // Retrieve the current news detail page
    var parameters = new RetrieveCurrentPageParameters
    {
        LinkedItemsMaxLevel = 1
    };

    var course = await contentRetriever.RetrieveCurrentPage<CourseItem>(parameters);
    string imageUrl = null;

    // Get the image URL from the CourseImage collection
    if (course?.CourseImage != null)
    {
        var thumbnailImage = course.CourseImage.FirstOrDefault();
        if (thumbnailImage?.ImageFile != null)
        {
            imageUrl = thumbnailImage.ImageFile.Url;
        }
    }

}

<!-- Hero Editable Area -->
<section>
    <editable-area area-identifier="hero-area"></editable-area>
</section>

<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">

            <!-- LEFT CONTENT -->
            <div class="col-lg-8">

                <div class="mb-5">

                    <!-- Title -->
                    <div class="section-title position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">
                            Course Detail
                        </h6>

                        <h3 class="display-4">
                            @course?.Title
                        </h3>
                    </div>

                    <!-- Main Image -->
                    @if (!string.IsNullOrEmpty(imageUrl))
                    {
                        <img class="img-fluid rounded w-100 mb-4"
                             src="@imageUrl"
                             alt="@course?.CourseTitle">
                    }

                    <!-- Course Description -->
                    <h3>
                        @Html.Raw(course?.CourseData)
                    </h3>

                </div>
            </div>

           <!-- SIDEBAR -->
            <div class="col-lg-4 mt-5 mt-lg-0">

                <!-- Course Features -->
                <div class="bg-primary mb-5 py-3">

                    <h3 class="text-white py-3 px-4 m-0">
                        Course Features
                    </h3>

                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Instructor</h6>
                        <h6 class="text-white my-3">@course.Instructor</h6>
                    </div>

                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Rating</h6>
                        <h6 class="text-white my-3">
                            4.5<small>(250)</small>
                        </h6>
                    </div>

                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Lectures</h6>
                        <h6 class="text-white my-3">15</h6>
                    </div>

                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Duration</h6>
                        <h6 class="text-white my-3">@course.Duration<small>Hr</small></h6>
                    </div>

                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">Skill Level</h6>
                        <h6 class="text-white my-3">All Level</h6>
                    </div>

                    <div class="d-flex justify-content-between px-4">
                        <h6 class="text-white my-3">Language</h6>
                        <h6 class="text-white my-3">English</h6>
                    </div>

                    <h5 class="text-white py-3 px-4 m-0">
                        Course Price: $199
                    </h5>

                    <div class="py-3 px-4">
                        <a class="btn btn-block btn-secondary py-3 px-5" href="/admission-form">
                            Enroll Now
                        </a>
                    </div>

                </div>

                <!-- Categories -->
                <div class="mb-5">

                    <h2 class="mb-3">Categories</h2>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="#" class="text-decoration-none h6 m-0">
                                Web Design
                            </a>

                            <span class="badge badge-primary badge-pill">
                                150
                            </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="#" class="text-decoration-none h6 m-0">
                                Web Development
                            </a>

                            <span class="badge badge-primary badge-pill">
                                131
                            </span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="#" class="text-decoration-none h6 m-0">
                                Digital Marketing
                            </a>

                            <span class="badge badge-primary badge-pill">
                                78
                            </span>
                        </li>

                    </ul>

                </div>

                <!-- Recent Courses -->
                <div class="mb-5">

                    <h2 class="mb-4">Recent Courses</h2>

                    <a class="d-flex align-items-center text-decoration-none mb-4" href="#">
                        <img class="img-fluid rounded"
                             src="/assets/img/courses-80x80.jpg"
                             alt="">

                        <div class="pl-3">
                            <h6>Web Design Course</h6>

                            <div class="d-flex">
                                <small class="text-body mr-3">
                                    <i class="fa fa-user text-primary mr-2"></i>
                                    John Doe
                                </small>

                                <small class="text-body">
                                    <i class="fa fa-star text-primary mr-2"></i>
                                    4.5 (250)
                                </small>
                            </div>
                        </div>
                    </a>

                    <a class="d-flex align-items-center text-decoration-none mb-4" href="#">
                        <img class="img-fluid rounded"
                             src="/assets/img/courses-80x80.jpg"
                             alt="">

                        <div class="pl-3">
                            <h6>Python Programming</h6>

                            <div class="d-flex">
                                <small class="text-body mr-3">
                                    <i class="fa fa-user text-primary mr-2"></i>
                                    John Doe
                                </small>

                                <small class="text-body">
                                    <i class="fa fa-star text-primary mr-2"></i>
                                    4.5 (250)
                                </small>
                            </div>
                        </div>
                    </a>

                </div>

            </div> 

        </div>
    </div>
</div>
<!-- Detail End -->