@using Kentico.Content.Web.Mvc.PageBuilder
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@addTagHelper *, Kentico.Content.Web.Mvc


@model TemplateViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<section>
    <editable-area area-identifier="hero-area"></editable-area>
</section>

<section>
    <editable-area area-identifier="about-area"></editable-area>
</section>

<section>
    <editable-area area-identifier="why-area"></editable-area>
</section>

<section>
    <editable-area area-identifier="courses-area"></editable-area>
</section>

<section>
    <editable-area area-identifier="instructors"></editable-area>
</section>

<section>
    <editable-area area-identifier="announcements"></editable-area>
</section>

